
.app{
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}

main{
  flex:1
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f6f9;
}


nav {
  background: #1f2937;
  color: white;
  padding: 12px 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

nav button {
  margin-left: auto;
  background: #ef4444;
  border: none;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}


.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
}


.post-card {
  background: white;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.post-card h3 {
  margin: 0;
}

.post-card small {
  color: gray;
}


button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #1d4ed8;
}


input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

textarea {
  min-height: 120px;
}


.form-box {
  background: white;
  padding: 20px;
  max-width: 400px;
  margin: 50px auto;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}



