body{
  padding: 0;
  margin:0;
}

#root1{
  position: fixed;
  inset: 0;          
  z-index: 1000;
   width:400px;
   height: 400px;
   margin: auto;
}


input, textarea { display:block; margin-bottom:10px; }



